div {
    background: green;
    padding: 20px;
}

.text {
    color: black;
    font-size: 14px;
}

@media screen and (orientation: portrait) {
    div {
        background: blue;
    }
    .text {
        font-size: 18px;
    }
}